@import 'tailwindcss';

@layer base{
    h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: var(--text-lg);
        font-weight: 700;
        padding-left: 2px;
        padding-right: 2px;
    }

    h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: var(--text-xl);
        font-weight: 600;
    }

    h3{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: var(--text-xl);
        font-weight: 600;
    }

    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    ::selection {
            background-color: var(--color-mid-trans);
            color: var(--color-highlight);
    }

    input{
        border: 1px solid;
        border-radius: 4px;
        padding-left: 4px;
        font-size: small;
        height: fit-content;
        align-self: center;
    }

    select{
        scrollbar-width: none;
        -ms-overflow-style: none;
        border: 1px solid;
        border-radius: 4px;
        font-size: var(--text-xs);
        accent-color: var(--color-mid);
        width: 130%;
        transition: 0.2s;
    }

    select::-webkit-scrollbar {
        width: 0;
    }

    select:hover {
        scale: 100% 110%;
    }

    option {
        background-color: var(--color-dark);
        accent-color: var(--color-mid);
    }

    button {
        border: 1px solid;
        border-radius: 4px;
        transition: 0.2s;
    }

    button:hover {
        scale: 94%;
    }

    button:active {
        animation-name: buttonClick;
        animation-duration: 0.5s;
    }

    @keyframes buttonClick {
        0%      {scale: 110%;}
        25%     {scale: 80%;}
        50%     {scale: 105%;}
        100%    {scale: 100%;}
    }
}

@theme {
    --color-dark: #030314;
    --color-mid: #30005e;
    --color-highlight: #5900ff;
    --color-mid-trans: rgba(49, 0, 94, 0.2);
    --color-light: #fbf7ff;
    --color-light-trans: rgba(251, 247, 255, 0.8);

    --breakpoint-xs: 30rem;
}

@layer components{
    .header{
        padding: 0.5em;
    }

    .background{
        z-index: -1;
        position: fixed;
        background-image: radial-gradient(#03030e,#05020a, #0c0024);
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .card{
        width: inherit;
        border: solid 1px var(--color-light);
        margin: 0.5em;
        border-radius: 8px;
        padding: 0.5em 1em 1em 1em;
        box-shadow: var(--shadow-lg);
        font-size: small;
    }

    .row-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    .row-space-around{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20%;
    }

    .column-elem{
        font-size: 8pt;
    }

    .box-elem{
        border: solid 1px;
        border-radius: 4px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 10px;
        margin: 16px 0px 16px 0px;
        width: fit-content;
    }

    .nr-selector{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid;
        border-radius: 4px;
        padding: 4px;
    }
}

@media (width >= 48rem ){
    @layer components{
        .column-elem{
            font-size: 8pt;
        }
    }

    @layer base{
        h1{
            font-size: var(--text-2xl);
        }

        input{
            font-size: var(--text-sm);
        }

        select{
            width: 150%;
            font-size: var(--text-xs);
        }
    }
}

@media (width >= 64rem){
    @layer components{
        .column-elem{
            font-size: var(--text-sm);
        }
    }
}

@media (width >= 96rem ){
    @layer components{
        .column-elem{
            font-size: var(--text-base);
        }
    }

    @layer base{
        h1{
            font-size: var(--text-3xl);
        }

        input{
            font-size: var(--text-base);
        }

        select{
            width: 150%;
            font-size: var(--text-sm);
        }
    }
}